{% extends 'blog/base.html'%}
{% block title_block %}
user posts
{% endblock %}



{% block body_block %}
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Here is the list of {{user.username}}'s posts:</h1>
      {% for post in user_posts %}
      <h3><a href="{% url 'blog:post_detail' pk=post.id %}">{{post.title}}</a></h3>
      <p><span>{{post.published_date|date:'d M Y'}}</span><span><a href="{% url 'blog:post_comments' pk=post.id %}"> Comments {{post.comments.count}}</a></span></p>
      {% endfor %}

    </div>

  </div>
{% endblock %}
